* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 400;
    line-height: 1.5rem;
}

.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 900px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: hsla(0, 0%, 100%, 0.75);
    padding: 3rem;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 0.5rem 0 0 0.5rem;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0.5rem 0.5rem 0;
}

.learn-more {
    background-color: white;
    width: 8rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: 2px white solid;
}

.sedan-button-color {
    color: hsl(31, 77%, 52%);
}

.suvs-button-color {
    color: hsl(184, 100%, 22%);
}

.luxury-button-color {
    color: hsl(179, 100%, 13%);
}

.learn-more:hover {
    color: white;
    cursor: pointer;
}

.sedan-button-color:hover {
    background-color: hsl(31, 77%, 52%);
}

.suvs-button-color:hover {
    background-color: hsl(184, 100%, 22%);
}

.luxury-button-color:hover {
    background-color: hsl(179, 100%, 13%);
}

.vechicle-type-text {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.vehicle-icon {
    margin-bottom: 2rem;
}

.vehicle-description {
    margin-bottom: 4rem;
}

@media screen and (max-width: 475px) {
    .container {
        flex-direction: column;
        width: 95%;
        padding-top: 44rem;
    }

    .sedans {
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .luxury {
        border-radius: 0 0 0.5rem 0.5rem;
    }
}